body {
    background-color: gray;
    
}

img{
    height:350px;
    width: 350px; 
    
}

#squares {
     list-style-type:square;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
